

<!doctype html>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DD Cantina Counter</title>
</head>
<body>
    <div class="content">
      Now
        <div class="time" id="time"></div>
      People in line
        <div class="count">38</div>
      <div id="day"></div>
      <img src="assets/images/testgraph.png" style="width:300px"></img>

        <div class="menu">Menu</div>
        <div class="food"><i class="em em-meat_on_bone"></i> Chicken heart with water sauce<br>
        <i class="em em-broccoli"></i> Pasta with magic mushroom<br>
        <i class="em em-bowl_with_spoon"></i> Limestone soup with snow flakes</div>

        <div id="bar"></div>
    </div>
</body>
</html>
