

<!doctype html>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DD Cantina Counter</title>
</head>
<body>
    <div class="content">
      Now
        <div class="time" id="time"></div>
      People in line
        <div class="count" id="count"></div>
      <div id="day"></div>
      <img src="assets/images/testgraph.png" style="width:300px"></img>

        <div class="menu">Menu</div>
        <div class="food">
          <div class="food-item">
            <i class="em em-meat_on_bone"></i><span id="lunch"></span>
          </div>
          <div class="food-item">
            <i class="em em-broccoli"></i><span id="vegetar"></span>
          </div>
          <div class="food-item">
            <i class="em em-bowl_with_spoon"></i><span id="soup"></span>
          </div>
        </div>


        <!--<div class="barContainer"><div id="bar"><div id="barText">NOW</div></div></div>-->
    </div>
</body>
</html>
