// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

$colorBlack: #000;
$colorCount: #FF8484;

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/assets/fonts/HKGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HKGrotesk-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HKGrotesk-Light.woff') format('woff'), /* Pretty Modern Browsers */
}

@mixin HKLight {
  font-family: 'HKGrotesk-Light', sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('/assets/fonts/HKGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HKGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HKGrotesk-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

@mixin HKRegular {
  font-family: 'HKGrotesk-Regular', sans-serif;
  font-weight: 400;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: $colorBlack;
  color: white;
  @include HKLight;
  text-align: center;
  width: 300px;
  margin: auto auto;
}

.content {
  font-size: 18px;
  margin-top: 3vh;
  //margin-bottom: 5vh;
}
  .time {
    font-size: 28px;
    //@include HKRegular;
    //margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .peopleinline {
    display: flex;
    //align-items: center;
    i{
      flex: 0 0 30px;
    }
    span{
      flex: 0 0 100%;
      padding-left: 10px;
      text-align: left;
      vertical-align: top;
      padding-top: 7px;

    }
  }

  .count {
    font-size: 50px;
    font-style: inherit;
    color: $colorCount;
  }

  .pun {
    padding-top: 40px;
    text-align: left;
  }

  .menu {
    @include HKRegular;
    text-align: left;
    padding-left: 40px;
    margin: 3vh auto 1vh auto;
    line-height: 30px;
  }
  .food {
    font-size: 18px;
    text-align: left;
    //padding-left: 10px;
    line-height: 1.2em;
  }

   .food-item{
     display: flex;
     align-items: center;
     padding-bottom: 10px;
     i{
       flex: 0 0 30px;
       font-style: normal;
     }
     span{
       flex: 0 0 100%;
       padding-left: 10px;
     }
   }
  .line {
    height: 2px;
    width: 300px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: white;
    opacity: 0.65;
    margin: 3vh auto 3vh auto;
  }

  .barContainer {
    position: relative;
    width: 100%;
    height: 30px;
    //background-color: pink;
  }

  #bar {
    height: 50px;
    width: 2px;
    background-color: white;
    position: absolute;
  }
  #barText {
    font-size: inherit;
    position: absolute;
  }



  // .element{
  //   color: #FF0000;
  //   shape-outside: circle(30%);
  //   transition: shape-outside 1s;
  //   float: center;
  // }
  //
  // .element:hover{
  //   shape-outside: circle(50%);
  // }
