// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

$colorBlack: #272A2C;
//$red: #F48385;
$red: #FF8484;  // R255 G132 B132
//$yellow: #ECD4A3;
$yellow: #EBD4A3;  // R235 G212 B163
//$green: #A5D5A4;
$green: #99CC99;  // R153 G204 B153

$no9: #FFF;
$no8: #FFF;
$no7: #FFF;
$no6: #FFF;
$no5: #FFF;
$no4: #FFF;
$no3: #FFF;
$no2: #FFF;
$no1: #FFF;


@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/assets/fonts/HKGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HKGrotesk-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HKGrotesk-Light.woff') format('woff'), /* Pretty Modern Browsers */
}

@mixin HKLight {
  font-family: 'HKGrotesk-Light', sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('/assets/fonts/HKGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HKGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HKGrotesk-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

@mixin HKRegular {
  font-family: 'HKGrotesk-Regular', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'HKGrotesk-SemiBold';
  src: url('/assets/fonts/HKGrotesk-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HKGrotesk-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HKGrotesk-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}

@mixin HKSemiBold {
  font-family: 'HKGrotesk-SemiBold', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('/assets/fonts/HKGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/HKGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/HKGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}

@mixin HKBold {
  font-family: 'HKGrotesk-Bold', sans-serif;
  font-weight: 500;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: $colorBlack;
  color: white;
  @include HKLight;
  text-align: center;
  width: 300px;
  margin: auto auto;
  -webkit-font-smoothing: antialiased;
}

.loader {
  //display: none;
  @include HKBold;
  width: 270px;
  margin: auto auto;
  font-size: 40px;
  color: #FFF;
  padding-top: 280px;
}

  .logoItem{
    display: flex;
    > span{
      flex: 1;
      text-align: center;
      width: 38.5px;
    }
  }
  .om {
    font-size: 40px;
    margin-left: 1px;
    height: 60px;


    .odometer-value:nth-child(-n+10){
      color: $red;
    }

    .odometer-value:nth-child(-n+6){
      color: $yellow;
    }

    .odometer-value:nth-child(-n+3){
      color: $green;
    }
    .odometer-value:nth-child(1){
      color: white;
    }
    // .odometer-value:nth-child(1){
    //    color: $green;
    // }
  }

  .om.odometer-animating-up .odometer-ribbon-inner, .om.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 3s !important;
    -moz-transition-duration: 3s !important;
    -ms-transition-duration: 3s !important;
    -o-transition-duration: 3s !important;
    transition-duration: 3s !important
  }

  .loaderText {
    @include HKLight;
    font-size: 15px;
    color: #FFF;
    padding-top: 156px;
    padding-bottom: 10px;
    text-align: left;
  }

.content {
  display: none;
  height: 100vh;
  overflow: hidden;
  flex-flow: column;
  align-items: center;
  font-size: 15px;
  // &.show{
  //     display: flex;
  // }
}

  .header{
    flex: 0 0 80px;
    padding-top: 20px;
  }
  .time {
    font-size: 25px;
    margin-bottom: 1vh;
  }

.main{
  flex: 1;
  height: calc(100vh-260px);
  position: relative;
  width: 100vw;
}
.container{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 100%;
  padding: 0 40px;

  &.closed {
    .dashedline, .count, .peopleinline {
        display: none;
      }
  }
}

// .container.closed {
//   .dashedline, .count, .peopleinline {
//     display: none;
//   }
// }
  .pun {
    @include HKSemiBold;
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center;
  }

  .dashedline {
    stroke: salmon;
    stroke-dasharray: 4;
    stroke-dashoffset: 100%;
  }
  line {
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 15s linear infinite;
    stroke-opacity: 0.7;
  }

  @keyframes dash {
  to {
    stroke-dashoffset: 0;
    }
  }

  .count {
    @include HKRegular;
    font-size: 35px;
    align-items: center;
    color: $red;
  }

  .peopleinline {
    @include HKLight;
    text-align: center;
    color: $red;
  }

  .footer{
    flex: 0 0 180px;
  }
    .line {
      height: 1px;
      width: 300px;
      background-color: white;
      opacity: 0.65;
    }
    .menu {
      @include HKBold;
      text-align: left;
      letter-spacing: 1px;
      padding-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 30px;
    }
    .food {
      font-size: 15px;
      letter-spacing: 1.25px;
      text-align: left;
      line-height: 1.2em;

    }

     .food-item{
       display: flex;
       letter-spacing: 1.25px;
       align-items: center;
       padding-bottom: 10px;
       i{
         flex: 0 0 30px;
         font-style: normal;
         font-size: 23px;
       }
       span{
         flex: 0 0 100%;
         padding-left: 10px;
         padding-right: 40px;
       }
     }


  // .barContainer {
  //   position: relative;
  //   width: 100%;
  //   height: 30px;
  // }

  // #bar {
  //   height: 50px;
  //   width: 2px;
  //   background-color: white;
  //   position: absolute;
  // }
  // #barText {
  //   font-size: inherit;
  //   position: absolute;
  // }
